doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Simple Transactional Email
  style(media='all' type='text/css').
    @media all {
    .btn-primary table td:hover {
    background-color: #ec0867 !important;
    }
    .btn-primary a:hover {
    background-color: #ec0867 !important;
    border-color: #ec0867 !important;
    }
    }
    @media only screen and (max-width: 640px) {
    .main p,
    .main td,
    .main span {
    font-size: 16px !important;
    }
    .wrapper {
    padding: 8px !important;
    }
    .content {
    padding: 0 !important;
    }
    .container {
    padding: 0 !important;
    padding-top: 8px !important;
    width: 100% !important;
    }
    .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    }
    .btn table {
    max-width: 100% !important;
    width: 100% !important;
    }
    .btn a {
    font-size: 16px !important;
    max-width: 100% !important;
    width: 100% !important;
    }
    }
    @media all {
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    }
    }
table.body(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f4f5f6; width: 100%;' width='100%' bgcolor='#f4f5f6')
  tr
    td(style='font-family: Helvetica, sans-serif; font-size: 16px; vertical-align: top;' valign='top') &nbsp;
    td.container(style='font-family: Helvetica, sans-serif; font-size: 16px; vertical-align: top; max-width: 600px; padding: 0; padding-top: 24px; width: 600px; margin: 0 auto;' width='600' valign='top')
      .content(style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 600px; padding: 0;')
        // START CENTERED WHITE CONTAINER
        span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') This is preheader text. Some clients will show this text as a preview.
        table.main(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border: 1px solid #eaebed; border-radius: 16px; width: 100%;' width='100%')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style='font-family: Helvetica, sans-serif; font-size: 16px; vertical-align: top; box-sizing: border-box; padding: 24px;' valign='top')
              p(style='font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;') Hi #{name}
              p(style='font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;')
                | Welcome to our E-commerce site .
          // END MAIN CONTENT AREA
        // START FOOTER
        .footer(style='clear: both; padding-top: 24px; text-align: center; width: 100%;')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
            tr
              td.content-block(style='font-family: Helvetica, sans-serif; vertical-align: top; color: #9a9ea6; font-size: 16px; text-align: center;' valign='top' align='center')
                span.apple-link(style='color: #9a9ea6; font-size: 16px; text-align: center;') Company Inc, 7-11 Commercial Ct, Belfast BT1 2NB
                br
                |  Don&apos;t like these emails? 
                a(href='http://htmlemail.io/blog' style='text-decoration: underline; color: #9a9ea6; font-size: 16px; text-align: center;') Unsubscribe
                | .
            tr
              td.content-block.powered-by(style='font-family: Helvetica, sans-serif; vertical-align: top; color: #9a9ea6; font-size: 16px; text-align: center;' valign='top' align='center')
                | Powered by 
                a(href='http://htmlemail.io' style='color: #9a9ea6; font-size: 16px; text-align: center; text-decoration: none;') HTMLemail.io
        // END FOOTER
        // END CENTERED WHITE CONTAINER
    td(style='font-family: Helvetica, sans-serif; font-size: 16px; vertical-align: top;' valign='top') &nbsp;
